@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}


<div class="login-box-body">

    <h2>
        Please check your email to reset your password.
    </h2>
    <div class="col-xs-8">
        <a href="@Url.Action("Login", "Account")" class="text-center pull-right">Back to login</a>
    </div>
</div>

